<!DOCTYPE html> 
<html> 
<head> 
<title>Assignment 2</title> 
<style> 
tr { 
line-height: 2.1; 
} 
</style> 
</head> 
<body> 
<center> 
<h3> RESUME</h3> 
<table> 
<tr><td>Name</td> <td><b>{{a}}</b></td></tr> 
<tr><td>Date of Birth</td> <td><b>{{b}}</b></td></tr> 
<tr><td>Email</td> <td><b>{{c}}</b></td></tr> 
<tr><td>College Name &emsp;&emsp;&emsp;</td> 
<td><b>{{d}}</b></td></tr> 
<tr><td>Qualification</td> <td><b>{{e}}</b></td></tr> <tr><td>CGPA in %</td> <td><b>{{f}}</b></td></tr> 
<tr><td>Year</td> <td><b>{{g}}</b></td></tr> 
<tr><td>Language</td> <td><b>{{h}}</b></td></tr> 
<tr><td>Resume</td> <td><b>{{y}}</b></td></tr> 
</center> 
</body> </html> 